@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

:root {
  --background-color: #0e3026;
  --code-background-color: #0b221b;
  --foreground-color: #c2e4d8;
  --link-color: #00f8ae;
  --link-hover-color: #14bc8a;
}

/* Index */

.post-link {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: var(--code-background-color);
}

/* Content */

.main {
  width: clamp(270pt, 100%, 650pt);
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 12pt;
  font-weight: 250;
  color: #111;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

body::before {
  content: "\00a0";
  flex-grow: 1;
  background-image: linear-gradient(
    to right,
    var(--code-background-color),
    var(--background-color)
  );
}

body::after {
  content: "\00a0";
  flex-grow: 1;
  background-image: linear-gradient(
    to left,
    var(--code-background-color),
    var(--background-color)
  );
}

@media screen and (max-width: 649pt) {
  body::before,
  body::after {
    display: none;
  }
}

header,
h1,
h2,
h3,
h4,
h5,
.title,
.footer-columns,
code,
.code {
  font-family: "Overpass Mono", monospace;
}

.fancy {
  font-family: "Oleo Script Swash Caps", cursive;
  font-style: normal;
  font-size: 11pt;
}

img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse; /* Merges double borders into single lines */
  width: 100%;
}

th,
td {
  border: 1px solid var(--foreground-color); /* Sets thickness, style, and color */
  padding: 8px; /* Gives cells room to breathe */
}

th {
  background-color: var(--foreground-color);
  color: var(--background-color);
  font-size: 1.1rem;
  font-weight: 900;
}

/* Links */

a {
  color: var(--link-color);
  word-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
}

h2 a,
h3 a {
  color: var(--foreground-color);
  text-decoration: none;
}

/* Code-specific content */

.code {
  background-color: var(--code-background-color);
  padding-inline: 1em;
  border-radius: 0.5em;
  overflow: auto;
  font-variant-ligatures: none;
}

code {
  background-color: var(--code-background-color);
  padding: 0.1rem;
  font-size: 0.9rem;
  border-radius: 0.5em;
  font-variant-ligatures: none;
}

/* Math-specific content */
.math {
  background-color: var(--code-background-color);
  padding: 1rem;
  border-radius: 0.5em;
  overflow: auto;
  max-width: 100%;
}
/* Rules */

hr {
  border: none;
  border-top: 0.5pt solid var(--foreground-color);
}

/* Footer */

.footer-obligatory {
  font-weight: 150;
  font-size: 0.85rem;
  margin: auto;
  display: grid;
  place-items: top center;
  text-align: center;
}

.footer-columns {
  font-weight: 100;
  padding-top: 1rem;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.footer-columns > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-columns * {
  max-height: 2lh;
  fill: var(--foreground-color);
}

.footer-column1 {
  text-align: left;
}

.footer-column2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-column2 svg {
  height: 2lh;
  width: auto;
}

.footer-column3 {
  text-align: right;
}
